{{#each posts as |postList| }}
<div class='test'>
        <section class = 'button-box'>
          <button type="button" class="formButton" id={{postList.id}}>{{postList.content}}</button>
        </section>      
        <section class = 'main-box' id='test-2'>
          <section class='input-box'>
            <p>Edit Post</p>
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input class="input" type="text" placeholder="Text input" value="{{postList.title}}">
              </div>
            </div>
            <div class="field">
              <label class="label">Content</label>
              <div class="control">
                <textarea class="textarea" placeholder="Textarea">{{postList.content}}</textarea>
              </div>
            </div>          
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link updateBtn" >Update</button>
                <button class="button is-link deleteBtn" >Delete</button>
              </div>
            </div>
          </section> 
        </section>
      </div>
{{/each}}
    <script type="text/javascript" src="/js/dashboard.js"></script>
    <script type="text/javascript" src="/js/logout.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css" />
