{{#each Blogs}}
<section class="saved-lists">
  <article class="message is-warning">
    <div class="message-header">
      <p>TITLE</p>
      <p>Posted by natnael on 7/27/2021</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">This is a text. this is a text. this is a text.</div>
  </article>
</section>
{{#each}}
<script type="text/javascript" src="/js/homepage.js"></script>
<link rel="stylesheet" href="/css/style.css" />
