{{#each posts as |postList|}}
<section class="saved-lists">
  <article class="message is-warning">
    <div class="message-header">
      <p>{{postList.title}}</p>
      <p>Posted on {{format_date postList.date_created}}</p>
    </div>
    <div class="message-body">{{postList.content}}</div>
  </article>
</section>
{{/each}}
<script type="text/javascript" src="/js/logout.js"></script>
<link rel="stylesheet" href="/css/style.css" />
