<section class="login-box">
  <div class="hero-body">
    <div class="container">
      <div class="column is-5 is-offset-2">
        <h3 class="title has-text-black">Login</h3>
        <div class="box">
          <form>
            <div class="field">
              <div class="control">
                <input
                  id="username-input"
                  class="input is-large"
                  type="username"
                  placeholder="Your Username"
                  autofocus=""
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  id="password-input"
                  class="input is-large"
                  type="password"
                  placeholder="Password: min 8 characters"
                />
              </div>
            </div>
            <button
              id="loginBtn"
              class="button is-block is-info is-large is-fullwidth"
            >Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
          </form>
        </div>
        <p class="has-text-black">
          <a href="./signup.html">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/css/login.css" />
<script type="text/javascript" src="/js/login.js"></script>
