<section class="login-box">
  <div class="hero-body">
    <div class="container">
      <div class="column is-5 is-offset-2">
        <h3 class="title has-text-black">Create Account</h3>
        <div class="box">
          <form>
            <div class="field">
              <div class="control">
                <input
                  id="firstname-input"
                  class="input is-large"
                  type="text"
                  placeholder="Your first name"
                  autofocus=""
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  id="lastname-input"
                  class="input is-large"
                  type="text"
                  placeholder="Your last name"
                  autofocus=""
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  id="username-input"
                  class="input is-large"
                  type="username"
                  placeholder="Your username"
                  autofocus=""
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input
                  id="password-input"
                  class="input is-large"
                  type="password"
                  placeholder="Your Password (min 8 characters)"
                />
              </div>
            </div>
            <button
              class="button is-block is-info is-large is-fullwidth"
              id="registerBtn"
            >Register<i class="fa fa-sign-in" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/css/signup.css" />
<script type="text/javascript" src="/js/signup.js"></script>