html, body {
    background-color: #EAE7DC;
    color: #34495e;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

header nav {
    background-color: #DBC3A5
}

.main-box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.input-box {
    width: 1000px;
    border: 5px solid #34495e;
    padding: 40px;
    margin-top: 50px;
}

.main-box {
    display: none;
    justify-content: center;
}

.input-box p {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #34495e;
    background-color: #ffdd57;
}

.button-box {
    display: flex;
    justify-content: center;
}

.formButton {
    margin-top: 50px;
    padding: 30px;
    width: 1000px;
    background-color: #ffdd57;
}

footer {
    display:flex;
    justify-content: center;
    margin-top: 40px;
}