html, body {
    background-color: #EAE7DC;
    color: #34495e;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

header nav {
    background-color: #DBC3A5
}

.input-box {
    width: 1000px;
    border: 5px solid #34495e;
    padding: 40px;
    margin-top: 50px;
}

.input-box p {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #34495e;
}

main {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    #navbarBasicExample {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #ffdd57;
    }
  }